/* Обнуление */

html ::selection {background: #FFC61A;color: #fff;}
a:link, a:visited{color: inherit;}

*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

a *{pointer-events: none;}

/* Шрифты */
@font-face {
	font-family: 'Muller';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/MullerRegular.eot');
	src: url('/fonts/MullerRegular.ttf') format('truetype'),
		 url('/fonts/MullerRegular.eot') format('embedded-opentype'),
		 url('/fonts/MullerRegular.woff') format('woff');
}

@font-face {
	font-family: 'Muller';
	font-style: normal;
	font-weight: 600;
	src: url('/fonts/MullerBold.eot');
	src: url('/fonts/MullerBold.ttf') format('truetype'),
		 url('/fonts/MullerBold.eot') format('embedded-opentype'),
		 url('/fonts/MullerBold.woff') format('woff');
}

/* Общие стили */
body{
	display: grid;
	grid-template-columns: 100% 100% 100%;
	grid-template-rows: 96px auto 60px;
	grid-gap: 64px 0;
	grid-template-areas:
		"header"
		"content"
		"footer";
	font-family: 'Muller', sans-serif;
	-webkit-font-smoothing: antialiased;
	background-color: #fff;
	min-height: 100vh;
}

/* HEADER */
	.header{
		grid-area: header;
		width: 1200px;
		height: 100%;
		display: flex;
		margin: 0 auto;
		flex-flow: row nowrap;
		justify-content: space-between;
		border-bottom: 1px solid #EAEAF0;
	}

	.headerlogo{
		width: 160px;
		padding-top: 22px;

	}

	.headerlogo svg{
		max-width: 140px;
		height: 40px;
	}

	.contacts{
		width: 240px;
		padding-top: 20px;
		font: 400 14px/24px 'Muller';
		color: #8692A3;
		text-align: right;
	}

	.headertell span{
		font: 600 23px/32px 'Muller';
		color: #000;
		margin-left: 4px;
	}

/* END TABLE */
	.endtable_base{
		grid-area: content;
		width: 1200px;
		height: 100%;
		min-height: 600px;
		margin: 0 auto;
		position: relative;
		padding: 0;
		overflow: scroll;
	}

	iframe{
		position: absolute;
		border: 1px solid #EAEAF0;
		outline: none;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

/* FOOTER */
	footer{
		grid-area: footer;
		width: 100%;
		height: 60px;
		background-color: #EAEDF0;
	}

	.foot_container{
		display: flex;
		width: 1200px;
		margin: 0 auto;
		flex-flow: row wrap;
		justify-content: space-between;
		padding: 15px 0;
		font: 400 14px/30px 'Muller';
		color: #8692A3;
	}

	.foot_container a, .privacy a{
		text-decoration: underline;
		cursor: pointer;
	}

	.foot_container a:visited{color: #8692A3;}
	.foot_container a:hover{color: #1E508C;}

@-webkit-keyframes butarrow{
	0% {padding-right: 40px;}
	10% {padding-right: 32px;}
	15% {padding-right: 36px;}
	20% {padding-right: 32px;}
	30% {padding-right: 40px;}
	100% {padding-right: 40px;}
}

@keyframes butarrow{
	0% {padding-right: 40px;}
	10% {padding-right: 32px;}
	15% {padding-right: 36px;}
	20% {padding-right: 32px;}
	30% {padding-right: 40px;}
	100% {padding-right: 40px;}
}

@media screen and (max-width: 800px){
	body{
		grid-template-columns: 480px 480px 480px;
		grid-gap: 40px 0;
	}

/* HEADER */
	.header{
		width: 440px;
		margin: 0 auto;
		padding: 20px 0;
	}

	.headerlogo{
		width: 120px;
		padding-top: 0;
		margin: 0;
	}

	.headerlogo svg{
		max-width: 120px;
		height: 40px;
		margin-top: 6px;
	}

	.contacts{
		width: auto;
		padding-top: 0;
		font: 400 15px/28px 'Muller';
	}

	.contacts span{
		font-size: 15px;
		line-height: 28px;
	}

/* END TABLE */
	.endtable_base{
		width: 100%;
		height: 100%;
	}

	iframe{
		position: absolute;
		border: none;
		outline: none;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

/* FOOTER */
	.foot_container{
		display: flex;
		width: 440px;
		flex-flow: row nowrap;
		padding: 15px 0;
	}
}