/* Обнуление */

input:focus {outline: none;}
textarea:focus {outline: none;}
html ::selection {background: #FFC61A;color: #fff;}
a:link, a:visited{color: inherit;}
input, label, button{-webkit-appearance: none;}

*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

button *, label *, a *, input *{pointer-events: none;}

/* Шрифты */
@font-face {
	font-family: 'Muller';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/MullerRegular.eot');
	src: url('/fonts/MullerRegular.ttf') format('truetype'),
		 url('/fonts/MullerRegular.eot') format('embedded-opentype'),
		 url('/fonts/MullerRegular.woff') format('woff');
}

@font-face {
	font-family: 'Muller';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/MullerMedium.eot');
	src: url('/fonts/MullerMedium.ttf') format('truetype'),
		 url('/fonts/MullerMedium.eot') format('embedded-opentype'),
		 url('/fonts/MullerMedium.woff') format('woff');
}

@font-face {
	font-family: 'Muller';
	font-style: normal;
	font-weight: 600;
	src: url('/fonts/MullerBold.eot');
	src: url('/fonts/MullerBold.ttf') format('truetype'),
		 url('/fonts/MullerBold.eot') format('embedded-opentype'),
		 url('/fonts/MullerBold.woff') format('woff');
}

/* Общие стили */
body{
	font-family: 'Muller', sans-serif;
	-webkit-font-smoothing: antialiased;
	background-color: #fff;
}

.blured{
	position: fixed;
	width: 100%;
	overflow: none;
	filter: blur(2px);
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	pointer-events: none;
}

section{
	width: 1080px;
	margin: 0 auto;
}

/* 1st screen */
header{
	width: 100%;
	height: 540px;
	background: url(/imgs/forest_bg.png), -webkit-linear-gradient(#F0F9FF 0%, #99D4FF 100%);
	background: url(/imgs/forest_bg.png), -o-linear-gradient(#F0F9FF 0%, #99D4FF 100%);
	background: url(/imgs/forest_bg.png), linear-gradient(#F0F9FF 0%, #99D4FF 100%);
	background-position: center 340px, center;
	background-repeat: repeat-x, repeat;
	background-size: auto, contain;
	-webkit-clip-path: ellipse(100% 100% at 50% 0%);
	clip-path: ellipse(100% 100% at 50% 0%);
}

/* HEADER */
	.header{
		width: 1080px;
		height: 96px;
		margin: 0 auto 64px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		border-bottom: 1px solid #fff;
	}

	.headerlogo{
		width: 160px;
		padding-top: 22px;

	}

	.headerlogo svg{
		max-width: 140px;
		height: 40px;
	}

	.contacts{
		width: 240px;
		padding-top: 20px;
		font: 400 14px/24px 'Muller';
		color: #8692A3;
		text-align: right;
	}

	.headertell{
		text-decoration: none;
	}

	.headertell span{
		font: 600 23px/32px 'Muller';
		color: #000;
		margin-left: 4px;
		pointer-events: none;
	}

	.tellmob{display: none;}
	.tellpc{display: inline;}

/* MAIN SCREEN */
	h1{
		width: 1080px;
		margin: 0 auto;
		font: 600 36px/48px 'Muller';
		color: #000;
		padding: 0;
	}

	.descript{
		width: 1080px;
		margin: 0 auto;
	}

	.descript p{
		margin: 0;
		padding: 0;
		font: 400 23px/36px 'Muller';
		color: #000;
	}

	.submaintxt{
		width: 1080px;
		margin: 48px auto 0;
	}

	.submaintxt ul{
		display: block;
		list-style: none;
		position: relative;
		width: 960px;
		background-color: #fff;
		padding: 40px 30px;
	}

	.submaintxt ul li{
		font: 400 14px/24px 'Muller';
		color: #474E57;
		margin-top: 12px;
		list-style-image: url(#checkmini);
		list-style-position: inside;
	}

	.submaintxt ul li:first-child{margin-top: 0;}

	.submaintxt ul li svg{
		display: inline;
		width: 10px;
		height: 8px;
		margin-right: 18px;
		fill: none;
		stroke: #474E57;
		stroke-width: 0.25px;
	}

	.submaintxt ul img{
		position: absolute;
		right: -180px;
		top: -120px;
		width: 680px;
		object-fit: cover;
	}

/* CTA CONTAINER */
	.cta_background{
		position: relative;
		width: 100%;
		margin: 60px auto 90px;
		background: -webkit-linear-gradient(#F0F9FF 0%, #99D4FF 100%);
		background: -o-linear-gradient(#F0F9FF 0%, #99D4FF 100%);
		background: linear-gradient(#F0F9FF 0%, #99D4FF 100%);
		-webkit-clip-path: ellipse(100% 540px at 50% -210px);
		clip-path: ellipse(100% 540px at 50% -210px);
		padding-bottom: 90px;
	}

	.cta_background:before{
		content: '';
		position: absolute;
		bottom: 24px;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		-webkit-clip-path: ellipse(100% 540px at 50% -210px);
		clip-path: ellipse(100% 540px at 50% -210px);
	}

	.ctablock{
		position: relative;
		text-align: center;
	}

	.cta_title{
		font: 500 23px/32px 'Muller';
		color: #000;
		padding: 24px 0;
	}

	.gotoquiz, .tablelink{
		position: relative;
		display: block;
		border: none;
		width: 540px;
		height: 96px;
		margin: 0 auto;
		padding: 20px 30px;
		background: linear-gradient(180deg, #2E5FA3 0%, #23487D 100%);
		box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.2), inset 0px 3px 0px rgba(255, 255, 255, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.2);
		border-radius: 6px;

		cursor: pointer;
		overflow: hidden;
	    transition-property: padding-right;

	    -webkit-animation-name: butarrow;
	    animation-name: butarrow;
	    -webkit-animation-timing-function: ease;
	    animation-timing-function: ease;
	    -webkit-animation-duration: 3s;
	    animation-duration: 3s;
	    -webkit-animation-iteration-count: infinite;
	    animation-iteration-count: infinite;
	}


	.gotoquiz .pdf, .tablelink .pdf{
		display: inline;
		height: 40px;
		width: 36px;
		float: left;
		margin: 4px 24px 8px 0;
		pointer-events: none;
	}


	.gotoquiz p, .tablelink p{
		display: inline;
		float: left;
		max-width: 360px;
		padding: 14px 0;
		text-align: left;
		color: #fff;
		font: 500 23px/28px 'Muller';
		pointer-events: none;
	}

	.gotoquiz .ctaarrow, .tablelink .ctaarrow{
		display: inline;
		width: 9px;
		height: 18px;
		float: right;
		stroke: #fff;
		fill: none;
		stroke-width: 1px;
		margin: 19px 0;
		pointer-events: none;
	}

	.gotoquiz:after {
	    content: "";
	    width: 32px;
	    height: 200%;
	    background-color: #A3C9FF;
	    position: absolute;
	    left: -30%;
	    top: -50%;
		-webkit-transform: rotate(45deg);
	    transform: rotate(45deg);
	    transition-property: left;

		-webkit-animation-name: butflare;
	    animation-name: butflare;
	    -webkit-animation-timing-function: ease;
	    animation-timing-function: ease;
	    -webkit-animation-duration: 4s;
	    animation-duration: 4s;
	    -webkit-animation-iteration-count: infinite;
	    animation-iteration-count: infinite;
	    pointer-events: none;
	}

	.gotoquiz:hover:after {
		-webkit-animation-name: none;
	    animation-name: none;
	    pointer-events: none;
	}

	.gotoquiz_subtxt{
		width: 540px;
		margin: 0 auto;
		padding: 12px 30px;
		font: 400 14px/20px 'Muller';
		color: #8692A3;
	}

	.gotoquiz, .gotoquiz:hover, .gotoquiz:active, .gotoquiz:focus{cursor: pointer}
	.gotoquiz svg, .gotoquiz:hover svg, .gotoquiz:active svg, .gotoquiz:focus svg{pointer-events: none;}
	.gotoquiz svg *, .gotoquiz:hover svg *, .gotoquiz:active svg *, .gotoquiz:focus svg *{pointer-events: none;}

/* SLIDER */
	h2{
		font: 600 36px/36px 'Muller';
		padding: 2px 0;
		color: #000;
	}

	.container_gallery{
		position: relative;
		width: 1080px;
		height: 180px;
		margin: 40px 0 60px;
		padding: 0 60px;
	}

	.slider-arrow{
		position: absolute;
		display: block;
		top: 0;
		width: 60px;
		height: 100%;
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;
		transition: left 0.2s ease, right 0.1s ease;
	}

	.slider-prev{left: 0;}
	.slider-next{right: 0;}

	.slider-arrow:hover{background-color: #EAEDF0;}

	.slider-arrow:disabled:hover{
		background-color: transparent;
		cursor: default;
	}

	.slider-arrow svg{
		display: inline-block;
		width: 18px;
		height: 36px;
		margin: 0;
		fill: none;
		stroke: #2E5FA3;
		stroke-width: .5px;
		transition: margin 0.1s ease;
	}

	.slider-arrow:disabled svg{stroke: #B8B8BD;}

	.slider-prev svg, .slider-fs-prev{
		margin-right: 8px;
		transform: rotate(180deg);
	}

	.slider-next svg, .slider-fs-next{
		margin-left: 8px;
	}

	.slider-prev:active svg{margin-right: 16px;}
	.slider-next:active svg{margin-left: 16px;}

	.slider_prev_container, .slider_fs_container{
		display: flex;
		height: 100%;
		width: 100%;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: stretch;
		overflow: hidden;
		z-index: 1;
	}

	.slider_prev_container img, .slider_fs_container img{
		width: 320px;
		flex: 0 0 320px;
		align-self: stretch;
		position: relative;
		outline: 2px solid #fff;
		cursor: zoom-in;
		object-fit: cover;
	}

	.bigslider_base{
		position: relative;
		width: 960px;
		height: 560px;
		margin: auto;
		box-shadow: 0px 6px 36px -6px #474E57;
	}

	.bigslider_base .slider-arrow:hover{background-color: rgba(255,255,255,.1);}
	.bigslider_base .slider-fs-prev{left: -60px;}
	.bigslider_base .slider-fs-next{right: -60px;}

	.bigslider_base .slider-arrow svg{stroke: #fff;}
	.bigslider_base .slider-arrow:disabled svg{stroke: #B8B8BD;}
	.bigslider_base .slider-arrow:disabled:hover{background-color: transparent;}

	.bigslider_base .slider_fs_container{padding: 0;}
	.bigslider_base .slider_fs_container img{
		width: 960px;
		flex: 0 0 960px;
		outline: none;
		cursor: default;
	}

/* FOOTER */
	footer{
		width: 100%;
		height: 60px;
		margin-top: 30px;
		background-color: #EAEDF0;
	}

	.foot_container{
		display: flex;
		width: 1080px;
		margin: 0 auto;
		flex-flow: row wrap;
		justify-content: space-between;
		padding: 15px 0;
		font: 400 14px/30px 'Muller';
		color: #8692A3;
	}

	.foot_container a, .privacy a{
		text-decoration: underline;
		cursor: pointer;
	}

	.foot_container a:visited{color: #8692A3;}
	.foot_container a:hover{color: #1E508C;}

/* QUIZ */
	#container_quiz, #container_bigslider{
		display: none;
		position: fixed;
		width: 100vw;
		height: 100vh;
		top: 0px;
		left: 0px;
		padding-bottom: 80px;
		background-color: rgba(234, 234, 240, .8);
		z-index: 15;
	}

	#container_bigslider{background-color: rgba(71, 78, 87, .8);}

	.quiz_base{
		width: 1080px;
		height: 720px;
		position: relative;
		margin: auto;
		border-radius: 6px;
		background-color: #fff;
		box-shadow: 0px 6px 36px -6px rgba(122, 123, 125, 1);
		overflow: hidden;
	}

	.quiz_base .quiz_pages{
		display: none;
		grid-template-columns: 60px auto 60px;
  		grid-template-rows: 60px auto 100px;
  		grid-template-areas:
	  		"progressbar progressbar progressbar"
	  		". options ."
	  		". navbar .";
  		grid-gap: 40px 0;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		opacity: 0;
		z-index: 20;
	}

/* CLOSE BUTTON */
	.popclose{
		display: block;
		position: absolute;
		right: 10px;
		top: 10px;
		width: 40px;
		height: 40px;
		padding: 9px;
		cursor: pointer;
		z-index: 30;
	}

	.bigslider_base .popclose{
		right: -60px;
		top: -60px;
		width: 60px;
		height: 60px;
		padding: 19px;
	}

	.popclose svg{
		width:22px;
		height:22px;
		stroke:#EAEAF0;
		fill:none;
		-webkit-transition: stroke 0.1s 0s linear;
		-moz-transition: stroke 0.1s 0s linear;
		-o-transition: stroke 0.1s 0s linear;
		pointer-events: none;
	}

	.bigslider_base .popclose svg{
		stroke-width: 0.25px;
	}

	.popclose:hover svg{stroke:#B8B8BD;}
	.complied .popclose svg{stroke: #fff;}
	.bigslider_base .popclose:hover{background-color: rgba(255,255,255,.1);}
	.complied .popclose:hover svg{stroke: #B8B8BD;}
	.bigslider_base .popclose svg{stroke: #fff;}

/* PROGRESS BAR */
	.progressbar{
		grid-area: progressbar;
		align-self: stretch;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		padding: 0 60px;
		border-bottom: 1px solid #EAEDF0;
		font-family: 'Muller';
		font-style: normal;
		font-size: 14px;
		font-weight: 400;
	}

	.progressbar:before, .progressbar:after{
		content: '';
		position: absolute;
		width: 60px;
		height: 60px;
		background-color: #EAEAF0;
		top: 0;
		z-index: 20;
	}

	.progressbar:before{left: 0;}

	.progressbar:after{
		right: 0;
		display: none;
	}

	.complied:after{display: inherit;}

	.progressbar a{
		flex: 1 0 240px;
		text-align: center;
		line-height: 28px;
		padding-top: 16px;
		height: 100%;
		position: relative;
		color: #B8B8BD;
		cursor: default;
	}

	.progressbar a:before{
		content: '';
		display: inline;
		margin-right: 12px;
	}

	.progressbar .pass:before{
		content: url(/imgs/pbar_check.svg);
	}

	.progressbar a p{
		display: inline;
	}

	.progressbar .cur, .progressbar .pass{
		background-color: #EAEAF0;
		color: #1E508C;
	}

	.progressbar .cur{
		font-weight: 500;
	}

	.progressbar .pass:before,
	.progressbar .pass p{
		opacity: 0.5;
	}

	.progressbar .cur:after{
		content: '';
		position: absolute;
		top: 0;
		right: -42px;
		border: 30px solid transparent;
		border-left: 12px solid #EAEAF0;
	}

/* QUIZ TITLE */
	.option_container{
		grid-area: options;
	}

	.quiz_pages h3{
		margin-bottom: 40px;
		font: 600 36px/40px 'Muller';
		color: #000;
	}

	.page_form h3{
		color: #1E508C;
		opacity: 0.5;
	}

/* ANSWERS */
	.quest_body{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		width: 100%;
		height: 1fr;
		-webkit-overflow-scrolling: touch;
	}

	.quest_body>input{display: none;}

	.quest_body label{
		display: block;
		position: relative;
		width: 300px;
		height: 400px;
		max-height: 420px;
		border: 2px solid transparent;
		background-color: #fff;
		border-radius: 6px;
		flex-shrink: 0;
		cursor: pointer;
		user-select: none;
	}

	.quest_body .wide{
		width: 450px;
	}

	label:before{
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		border: 40px solid transparent;
	}

	label:after{
		content: '';
		position: absolute;
		top: 12px;
		right: 12px;
	}

	.quest_body label:hover{
		border: 2px solid #EAEAF0;
		box-shadow: 0px 4px 16px -4px #B8B8BD;
	}

	.quest_body input:checked+label{
		border: 2px solid #1E508C;
		box-shadow: 0px 4px 16px -4px #B8B8BD;
	}

	.quest_body input:checked+label:before{
		border-top-color: #1E508C;
		border-right-color: #1E508C;

	}

	.quest_body input:checked+label:after{
		content: url(/imgs/opt_checked.svg);
	}

	.quest_body label img{
		width: 100%;
		height: 198px;
		object-fit: cover;
		border-radius: 4px 4px 0 0;
		pointer-events: none;
	}

	.quest_body label p{
		padding: 20px;
		font: 400 23px/30px 'Muller';
		color: #000;
		pointer-events: none;
	}

	.quest_body label ul{
		list-style: none;
		padding: 0 20px;
		font: 400 14px/20px 'Muller';
		color: #6D6D70;
		pointer-events: none;

	}

	.quest_body label ul li{
		position: relative;
		margin-bottom: 8px;
		padding-left: 18px;
		pointer-events: none;
	}

	.quest_body label ul li:before{
		content: "—";
		position: absolute;
		left: 0;
		top: 0;
		width: 18px;
		pointer-events: none;
	}

/* QUIZ NAVIGATION */
	.quest_buts{
		grid-area: navbar;
		align-self: start;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-end;
		height: 60px;
	}

	.steptip{
		flex-grow: 1;
		text-align: right;
		padding: 20px;
		font: 500 14px/20px 'Muller';
		color: #1E508C;
	}

	.nextstep, .sendform{
		position: relative;
		border: none;
		width: 240px;
		background: linear-gradient(115deg, #245FA6 0%, #1E508C 100%);
		padding: 21px 40px 19px;
		text-transform: uppercase;
		letter-spacing: 1px;
		text-align: left;
		color: #fff;
		font: 500 14px/20px 'Muller';
		cursor: pointer;
		overflow: hidden;
	    transition-property: padding-right;

	    -webkit-animation-name: butarrow;
	    animation-name: butarrow;
	    -webkit-animation-timing-function: ease;
	    animation-timing-function: ease;
	    -webkit-animation-duration: 3s;
	    animation-duration: 3s;
	    -webkit-animation-iteration-count: infinite;
	    animation-iteration-count: infinite;
	}

	.nextstep svg, .sendform svg{
		display: inline;
		width: 6px;
		height: 12px;
		float: right;
		stroke: #fff;
		fill: none;
		stroke-width: 1.5px;
		margin-top: 3px;
	}

	.nextstep:hover, .sendform:hover, .gotoquiz:hover, .tablelink:hover{
		background: linear-gradient(115deg, #2E5FA3 0%, #2E5FA3 100%);
	}

	.nextstep:disabled, .sendform:disabled{
		background: #EAEAF0;
		color: #B8B8BD;
		cursor: not-allowed;
		-webkit-animation-name: none;
	    animation-name: none;
	}

	.nextstep:disabled svg, .sendform:disabled svg{stroke: #B8B8BD;}

/* QUIZ PAGES DEFAULT */
	.quiz_base .page_active{
		display: grid;
		opacity: 1;
		z-index: 40;
	}

/* QUIZ FINAL PAGE */
	.page_form h3{margin-bottom: 0;}

	.subh3{
		font: 400 23px/32px 'Muller';
		color: #000;
		padding: 4px 0;
		margin-bottom: 40px;
	}

	.page_form .quest_body{height: 60px;}

	.inpcont{
		position: relative;
		flex-basis: 280px;
		pointer-events: none;
	}

	.inpcont span{
		display: inline;
		position: absolute;
		top: 20px;
		left: 20px;
		font: 400 14px/20px 'Muller';
		color: #B4B5B8;
		pointer-events: none;
	}

	.page_form input[type=text], .page_form input[type=tel]{
		display: inline-block;
		border: 1px solid #B4B5B8;
		border-radius: 6px;
		width: 100%;
		height: 100%;
		font: 400 14px/18px 'Muller';
		padding: 20px 20px 20px 100px;
		background-color: transparent;
		color: #000;
		z-index: 35;
		pointer-events: auto;
	}

	.page_form input[type=text]:focus, .page_form input[type=tel]:focus{
		border-color: rgba(30,80,140,.5);
	}

	.sendform{width: 280px;}

	.tablesample{
		display: flex;
		position: relative;
		width: 100%;
		height: 240px;
		margin-top: 60px;
		background-image: -webkit-linear-gradient(rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,1) 100%), url(/imgs/sheet_sshot.png);
		background-size: cover, 100%;
		background-position: center, center;
		background-repeat: no-repeat, no-repeat;
		border-radius: 9px;
		border: 1px solid #EAEDF0;
		transition: background-size 0.45s ease;
	}

	.activelink:hover{
		background-size: cover, 150%;
		background-image: -webkit-linear-gradient(rgba(234,234,240,0.5) 0%, rgba(234,234,240,0.5) 100%), url(/imgs/sheet_sshot.png);
	}

	.tablelink{
		display: none;
		margin: auto;
		width: 560px;
		text-decoration: none;
	}

	.activelink .tablelink{
		display:block;
	}

	.page_form .privacy{
		grid-area: navbar;
		align-self: start;
		font: 400 14px/20px 'Muller';
		color: #8692A3;
	}


 /*ANIMATIONS */
@-webkit-keyframes butflare{
	0% {left: -30%;}
	30% {left: 115%;}
	100% {left: 115%;}
}

@keyframes butflare{
	0% {left: -15%;}
	25% {left: 115%;}
	100% { left: 115%;}
}

@-webkit-keyframes butarrow{
	0% {padding-right: 40px;}
	10% {padding-right: 32px;}
	15% {padding-right: 36px;}
	20% {padding-right: 32px;}
	30% {padding-right: 40px;}
	100% {padding-right: 40px;}
}

@keyframes butarrow{
	0% {padding-right: 40px;}
	10% {padding-right: 32px;}
	15% {padding-right: 36px;}
	20% {padding-right: 32px;}
	30% {padding-right: 40px;}
	100% {padding-right: 40px;}
}