section{
	width: 560px;
	margin: auto;
}

/* 1st screen */
header{
	width: 720px;
	height: 940px;
	background: url(/imgs/forest_bg.png), -webkit-linear-gradient(#F0F9FF 0%, #99D4FF 100%);
	background: url(/imgs/forest_bg.png), -o-linear-gradient(#F0F9FF 0%, #99D4FF 100%);
	background: url(/imgs/forest_bg.png), linear-gradient(#F0F9FF 0%, #99D4FF 100%);
	background-position: bottom, center;
	background-repeat: repeat-x, repeat;
	background-size: auto, contain;
	-webkit-clip-path: ellipse(180% 100% at 50% 0%);
	clip-path: ellipse(180% 100% at 50% 0%);
	overflow: hidden;
}

/* HEADER */
	.header{
		width: 640px;
		height: 144px;
		margin: 0 auto 48px;
		padding: 30px 0;
	}

	.headerlogo{
		width: 180px;
		padding-top: 0;
		margin: 0;
	}

	.headerlogo svg{
		max-width: 180px;
		height: 60px;
		margin-top: 10px;
	}

	.contacts{
		width: auto;
		padding-top: 0;
		font: 400 23px/40px 'Muller';
	}

	.contacts span{line-height: 40px;}

	.tellmob{display: inline;}
	.tellpc{display: none;}

/* MAIN SCREEN */
	h1{
		width: 560px;
		font: 600 48px/56px 'Muller';
	}

	.descript{
		width: 560px;
		margin-top: 12px;
	}

	.submaintxt{
		width: 560px;
		margin: 40px auto 0;
	}

	.submaintxt ul{
		width: 100%;
		padding: 40px 30px 60px 30px;
	}

	.submaintxt ul li{
		font: 400 21px/28px 'Muller';
		margin-top: 18px;
	}

	.submaintxt ul li svg{
		width: 15px;
		height: 12px;
		stroke-width: 1px;
	}

	.submaintxt ul img{
		right: -160px;
		top: 160px;
		width: 640px;
	}

/* CTA CONTAINER */
	.cta_background{
		margin: 60px auto 90px;
		-webkit-clip-path: ellipse(140% 100% at 50% 0%);
		clip-path: ellipse(140% 100% at 50% 0%);
		padding-bottom: 90px;
	}

	.cta_background:before{
		bottom: 24px;
		left: 0;
		width: 100%;
		height: 100%;
		-webkit-clip-path: ellipse(140% 100% at 50% 0%);
		clip-path: ellipse(140% 100% at 50% 0%);
	}

	.cta_title{
		font-size: 23px;
		padding: 24px 0;
	}

	.gotoquiz{
		margin-top: 30px;
		height: 108px;
		padding: 24px 30px;
	}

	.gotoquiz_subtxt{
		padding: 18px 0;
		font: 400 14px/28px 'Muller';
	}

/* SLIDER */
	h2{
		line-height: 48px;
	}

	.container_gallery{
		width: 560px;
		height: 320px;
		padding: 0;
		margin: 40px 0 60px;
	}

	.slider-arrow svg{
		width: 24px;
		height: 48px;
		stroke-width: 1px;
	}

	.slider-arrow{width: 80px;}
	.slider-prev{left: -80px;}
	.slider-next{right: -80px;}

	.slider_prev_container img{
		width: 560px;
		flex: 0 0 400px;
		outline: none;
		cursor: none;
	}

/* FOOTER */
	.foot_container{
		display: flex;
		width: 560px;
		flex-flow: row nowrap;
		padding: 15px 0;
	}

/* QUIZ */
	#container_quiz, #container_bigslider{
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
		padding-bottom: 0;
	}

	.quiz_base{
		width: 100%;
		height: 100%;
		position: relative;
		margin: auto;
		border-radius: 0;
		background-color: #fff;
		box-shadow: none;
		overflow: hidden;
	}

	.quiz_base .quiz_pages{
		grid-template-columns: 80px auto 80px;
  		grid-template-rows: 80px auto 140px;
		grid-template-areas:
	  		"progressbar progressbar progressbar"
	  		"options options options"
	  		"navbar navbar navbar";
	}

/* CLOSE BUTTON */
	.popclose{
		right: 0;
		top: 0;
		width: 80px;
		height: 80px;
	}

	.popclose svg{
		margin: 15px;
		width:32px;
		height:32px;
	}

/* PROGRESS BAR */
	.progressbar{
		grid-area: progressbar;
		align-self: stretch;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		padding: 0 80px;

		position: sticky;
		top: 0;
	}

	.progressbar:before, .progressbar:after{
		width: 80px;
		height: 80px;
	}

	.progressbar a{
		flex: 1 0 140px;
		line-height: 20px;
		padding-top: 30px;
		font-size: 48px;
	}

	.progressbar a:before{
		content: '';
		display: inline-block;
		margin-right: 0;
		width: 20px;
		height: 20px;
		background-image: url(/imgs/pbar_all.svg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	.progressbar .pass:before{
		content: '';
		background-image: url(/imgs/pbar_cur.svg);
	}

	.progressbar .cur:before{
		content: '';
		background-image: url(/imgs/pbar_cur.svg);
	}

	.progressbar a p{
		display: none;
	}

	.progressbar .cur:after{
		right: -58px;
		border-width: 40px;
		border-left: 18px solid #EAEAF0;
	}

/* QUIZ TITLE */
	.quiz_pages h3{
		margin: 10px 0 50px 0;
		padding: 0 80px;
	}

/* ANSWERS */
	.quest_body{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		width: 100vw;
		height: 600px;
		overflow-x: scroll;
		padding: 0;
	}

	.quest_body:after, .quest_body:before{
		content: '';
		display: block;
		position: relative;
		flex-shrink: 0;
		width: 80px;
		height: 100%;
	}

	.page_form .quest_body:after, .page_form .quest_body:before{display: none;}

	.quest_body input{display: none;}

	.quest_body label{
		width: 450px;
		height: 600px;
		max-height: 600px;
		margin-right: 30px;
		cursor: pointer;
	}

	.quest_body label:last-of-type{margin-right: 0;}
	.quest_body .wide{width: 450px;}
	label:before{border: 60px solid transparent;}

	label:after{
		top: 24px;
		right: 24px;
	}

	.quest_body label:hover{
		border: 2px solid transparent;
		box-shadow: none;
	}

	.quest_body label img{
		height: 298px;
	}

	.quest_body label p{font: 400 32px/40px 'Muller';}
	.quest_body label ul{font: 400 21px/28px 'Muller';}

	.quest_body label ul li{
		margin-bottom: 12px;
		padding-left: 24px;
	}

	.quest_body label ul li:before{width: 24px;}

/* QUIZ NAVIGATION */
	.quest_buts{
		grid-area: navbar;
		align-self: start;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-end;
		height: 100%;
		border-top: 1px solid #EAEDF0;
		padding: 30px;
		position: sticky;
		bottom: 0;
	}

	.prevstep{
		display: none;
	}

	.steptip{
		padding: 26px 20px 26px 0;
		font: 400 23px/28px 'Muller';
		text-align: left;
	}

	.nextstep, .sendform{
		position: relative;
		border: none;
		width: 240px;
		background: linear-gradient(115deg, #245FA6 0%, #1E508C 100%);
		padding: 26px 40px 24px;
		text-transform: uppercase;
		letter-spacing: 1px;
		text-align: left;
		color: #fff;
		font: 500 23px/30px 'Muller';
		cursor: pointer;
		overflow: hidden;
	    transition-property: padding-right;

	    -webkit-animation-name: butarrow;
	    animation-name: butarrow;
	    -webkit-animation-timing-function: ease;
	    animation-timing-function: ease;
	    -webkit-animation-duration: 3s;
	    animation-duration: 3s;
	    -webkit-animation-iteration-count: infinite;
	    animation-iteration-count: infinite;
	}

	.nextstep{
		width: 280px;
		flex-shrink: 0;
		padding: 27px 40px 23px;
	}

	.nextstep svg, .sendform svg{
		display: inline;
		width: 6px;
		height: 12px;
		float: right;
		stroke: #fff;
		fill: none;
		stroke-width: 1.5px;
		margin-top: 3px;
	}

	.nextstep:hover, .sendform:hover, .gotoquiz:hover{
		background: linear-gradient(115deg, #2E5FA3 0%, #2E5FA3 100%);
	}

	.nextstep:disabled, .sendform:disabled{
		background: #EAEAF0;
		color: #B8B8BD;
		cursor: not-allowed;
		-webkit-animation-name: none;
	    animation-name: none;
	}

	.nextstep:disabled svg, .sendform:disabled svg{stroke: #B8B8BD;}

/* QUIZ PAGES DEFAULT */
	.quiz_base .page_active{
		display: grid;
		opacity: 1;
		z-index: 20;
	}

/* QUIZ FINAL PAGE */
	.page_form h3{margin-bottom: 0;}

	.subh3{
		font: 400 23px/32px 'Muller';
		color: #000;
		padding: 4px 80px;
		margin-bottom: 40px;
	}

	.page_form .quest_body{
		padding: 0 80px;
		flex-flow: column nowrap;
		height: auto;
	}

	.inpcont{
		width: 560px;
		height: 90px;
		flex-basis: auto;
		margin-bottom: 30px;
	}

	.inpcont span{
		display: inline;
		position: absolute;
		top: 30px;
		left: 20px;
		font: 400 21px/30px 'Muller';
		pointer-events: none;
	}


	.page_form input[type=text], .page_form input[type=tel]{
		width: 100%;
		height: 100%;
		font: 400 23px/30px 'Muller';
		padding: 30px 20px 30px 140px;
	}

	.page_form input[type=text]:focus, .page_form input[type=tel]:focus{
		border-color: rgba(30,80,140,.5);
	}

	.sendform{
		width: 560px;
		height: 90px;
		font: 400 23px/30px 'Muller';
		padding: 31px 40px 29px;
	}

	.sendform svg{
		width: 9px;
		height: 30px;
		margin: 0;
	}

	.tablesample{
		position: relative;
		width: 560px;
		height: 200px;
		margin: 60px auto 0;
	}

	.tablesample a p{
		font-size: 21px;
		padding: 14px 0;
		line-height: 28px;
	}

	.page_form .privacy{
		grid-area: navbar;
		align-self: start;
		font: 400 21px/28px 'Muller';
		color: #8692A3;
		padding: 0 80px;
	}

@-webkit-keyframes butflare{
	0% {left: -30%;}
	30% {left: 115%;}
	100% {left: 115%;}
}

@keyframes butflare{
	0% {left: -15%;}
	25% {left: 115%;}
	100% { left: 115%;}
}

@-webkit-keyframes butarrow{
	0% {padding-right: 40px;}
	10% {padding-right: 32px;}
	15% {padding-right: 36px;}
	20% {padding-right: 32px;}
	30% {padding-right: 40px;}
	100% {padding-right: 40px;}
}

@keyframes butarrow{
	0% {padding-right: 40px;}
	10% {padding-right: 32px;}
	15% {padding-right: 36px;}
	20% {padding-right: 32px;}
	30% {padding-right: 40px;}
	100% {padding-right: 40px;}
}