section{
	width: 960px;
}

/* 1st screen */
header{
	width: 100%;
	height: 480px;
	background-position: center 280px, center;
	-webkit-clip-path: ellipse(110% 100% at 50% 0%);
	clip-path: ellipse(110% 100% at 50% 0%);
}

/* HEADER */
	.header{
		width: 960px;
		height: 80px;
		margin: 0 auto 40px;
	}

	.headerlogo{
		width: 160px;
		padding-top: 18px;

	}

	.headerlogo svg{
		max-width: 140px;
		height: 40px;
	}

	.contacts{
		width: 240px;
		padding-top: 16px;
		font: 400 14px/24px 'Muller';
		color: #8692A3;
		text-align: right;
	}

	.headertell span{
		font: 600 21px/28px 'Muller';
		color: #000;
		margin-left: 4px;
	}

/* MAIN SCREEN */
	h1{
		width: 960px;
		margin: 0 auto;
		font: 600 36px/48px 'Muller';
		color: #000;
		padding: 0;
	}

	.descript{
		width: 960px;
		margin: 0 auto;
	}

	.descript p{
		margin: 0;
		padding: 0;
		font: 400 23px/36px 'Muller';
		color: #000;
	}

	.submaintxt{
		width: 960px;
		margin: 36px auto 0;
	}

	.submaintxt ul{
		width: 900px;
		padding: 30px 30px;
	}

	.submaintxt ul li{
		font: 400 14px/24px 'Muller';
		margin-top: 12px;
		list-style-image: url(#checkmini);
		list-style-position: inside;
	}

	.submaintxt ul li:first-child{margin-top: 0;}

	.submaintxt ul li svg{
		width: 10px;
		height: 8px;
		margin-right: 18px;
		stroke-width: 0.25px;
	}

	.submaintxt ul img{
		right: -160px;
		top: -90px;
		width: 600px;
	}

/* CTA CONTAINER */
	.cta_background{
		margin: 40px auto 60px;
		-webkit-clip-path: ellipse(100% 480px at 50% -170px);
		clip-path: ellipse(100% 480px at 50% -170px);
		padding-bottom: 80px;
	}

	.cta_background:before{
		bottom: 24px;
		-webkit-clip-path: ellipse(100% 480px at 50% -170px);
		clip-path: ellipse(100% 480px at 50% -170px);
	}

/* SLIDER */
	h2{
		font: 600 32px/32px 'Muller';
		padding: 2px 0;
	}

	.container_gallery{
		width: 960px;
		height: 165px;
		margin: 30px 0 45px;
	}

	.slider_prev_container img{
		width: 280px;
		flex: 0 0 280px;
		outline: 1px solid #fff;
	}

/* FOOTER */
	footer{
		width: 100%;
		height: 60px;
		margin-top: 40px;
	}

	.foot_container{
		width: 960px;
		margin: 0 auto;
		padding: 15px 0;
		font: 400 14px/30px 'Muller';
	}

/* QUIZ */

	.popclose{
		top: 0;
		right: 0;
	}
	
	#container_quiz, #container_bigslider{
		padding-bottom: 20px;
	}

	.quiz_base{
		width: 960px;
		height: 600px;
	}

	.quiz_base .quiz_pages{
		display: none;
		grid-template-columns: 40px auto 40px;
  		grid-template-rows: 40px auto 80px;
  		grid-gap: 30px 0;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;;
	}

/* PROGRESS BAR */
	.progressbar{
		padding: 0 40px;
	}

	.progressbar:before, .progressbar:after{
		width: 40px;
		height: 40px;
	}

	.progressbar a{
		flex: 1 0 220px;
		line-height: 20px;
		padding-top: 10px;
	}

	.progressbar .cur:after{
		top: 0;
		right: -30px;
		border: 20px solid transparent;
		border-left: 10px solid #EAEAF0;
	}

/* QUIZ TITLE */
	.quiz_pages h3{
		margin-bottom: 30px;
		font: 600 32px/30px 'Muller';
	}

/* ANSWERS */
	.quest_body label{
		width: 280px;
		height: 360px;
		max-height: 360px;
	}
	.quest_body .wide{width: 420px;}
	.quest_body label img{height: 178px;}
	.quest_body label ul{font: 400 12px/16px 'Muller';}
	.quest_body label ul li{padding-left: 12px;}
	.quest_body label ul li:before{width: 12px;}

/* QUIZ NAVIGATION */
	.quest_buts{
		height: 40px;
	}

	.steptip{
		padding: 10px 20px;
		font: 500 14px/20px 'Muller';
	}

	.nextstep, .sendform{
		width: 240px;
		padding: 11px 40px 9px;
		font: 500 14px/20px 'Muller';
	}

	.nextstep svg, .sendform svg{
		display: inline;
		width: 6px;
		height: 12px;
		float: right;
		stroke: #fff;
		fill: none;
		stroke-width: 1.5px;
		margin-top: 3px;
	}

/* QUIZ PAGES DEFAULT */
	.quiz_base .page_active{
		display: grid;
	}

/* QUIZ FINAL PAGE */
	.page_form h3{margin-bottom: 0;}

	.subh3{
		font: 400 23px/32px 'Muller';
		color: #000;
		padding: 4px 0;
		margin-bottom: 30px;
	}

	.page_form .quest_body{height: 60px;}

	.inpcont{
		position: relative;
		flex-basis: 260px;
	}

	.inpcont p{
		display: inline;
		position: absolute;
		top: 20px;
		left: 20px;
		font: 400 14px/20px 'Muller';
	}


	.page_form input[type=text], .page_form input[type=tel]{
		display: inline-block;
		border: 1px solid #B4B5B8;
		border-radius: 6px;
		width: 100%;
		height: 100%;
		font: 400 14px/18px 'Muller';
		padding: 20px 20px 20px 100px;
		background-color: transparent;
		color: #000;
	}

	.page_form input[type=text]:focus, .page_form input[type=tel]:focus{
		border-color: rgba(30,80,140,.5);
	}

	.sendform{width: 280px;}

	.tablesample{
		width: 100%;
		height: 240px;
		margin-top: 30px;
	}