/* Обнуление */

input:focus {outline: none;}
textarea:focus {outline: none;}
html ::selection {background: #FFC61A;color: #fff;}
a:link, a:visited{color: inherit;}

*{
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, header, section, footer, div{
  margin: 0;
  padding: 0;
}

/* Шрифты */
@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/MullerRegular.eot');
  src: url('/fonts/MullerRegular.ttf') format('truetype'),
     url('/fonts/MullerRegular.eot') format('embedded-opentype'),
     url('/fonts/MullerRegular.woff') format('woff');
}

/* POLICY */
header{
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #EAEDF0;
}

.titlebar{
  position: relative;
  width: 1080px;
  margin: 0 auto;
}

.titlebar p{
  padding: 22px 0 18px;
  margin: 0;
  font: 400 23px/20px 'Muller';
  color: #B8B8BD;
}

body {
  background-color: #fff;
  -webkit-font-smoothing: antialiased
}

body, section, div, h4, h5, h6, ul, ol, p, span{
  font-family: 'Muller';
  font-weight: 400;
  font-style: normal;
  color: #202832;
}

section{
  width: 1080px;
  margin: 60px auto 120px;
}

h4{
  font-size: 1.5rem;
  line-height: 100%;
  margin-top: 0.5rem;
}
h5{
  font-size: 1.25rem;
  line-height: 100%;
}
p,ul,li,span{
  font-size: 1rem;
  line-height: 134%;
}

ol {
  list-style: none;
  counter-reset: li;
}

ol li {
  padding: 0;
  margin-bottom: 0.5rem;
}

ol li:before {
  counter-increment: li;
  content: counters(li, ".") ". ";
}

/* CLOSE BUTTON */
  .popclose{
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    padding: 9px;
    cursor: pointer;
    z-index: 30;
  }

  .popclose svg{
    width:22px;
    height:22px;
    stroke:#fff;
    fill:none;
    -webkit-transition: stroke 0.1s 0s linear;
    -moz-transition: stroke 0.1s 0s linear;
    -o-transition: stroke 0.1s 0s linear;
    pointer-events: none;
  }

  .popclose:hover svg{stroke:#B8B8BD;}

  .closepolicy{
    width: 360px;
    height: 72px;
    margin: 64px auto 0;
    border-radius: 9px;
    background-color: transparent;
    font: 400 23px/24px 'Muller';
    padding: 24px;
    text-align: center;
    color: #B8B8BD;
    cursor: pointer;
    border: 2px solid #EAEDF0;
    transition: color 0.3s ease, background-color 0.3s ease;
  }

  .closepolicy:hover{
    color: #000;
    background-color: #EAEDF0;
  }

@media screen and (max-width:800px) {
  p,ul,li,span{
    font-size: 14px;
  }

  ol li {
    margin-bottom: 0.8rem;
  }
}

@media screen and (max-width: 1100px){
    .titlebar, section{
    width: 860px;
}

@media screen and (max-width: 800px){
  .titlebar, section{
    width: 720px;
    padding-left: 40px;
    padding-right: 40px;
  }

/* CLOSE BUTTON */
  .popclose{
    right: 0;
    top: 0;
    width: 60px;
    height: 60px;
    padding: 19px;
  }

  .popclose svg{
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    pointer-events: none;
  }
}